#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: rgb(46, 48, 48);
    margin-top: 60px;
}

a {
    color: black;
    font-weight: 500;
}

a:hover {
    color: #17a2b8;
  }

.logo {
    width: 18em;
    position: absolute;
    top: 4.8em;
    transform: translate(-50%, -50%);
}

.title {
    margin-top: 5em;
    margin-bottom: 2em;
}

.story {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 0 2em; 
}

/* MENU */

.bm-burger-bars {
    background-color: #373a47;
    border-radius: 3px;
}

.bm-burger-button {
    left: 28px;
    width: 25px !important;
}

.bm-menu {
    background-color:rgb(58, 58, 58, 0.85) !important;
    white-space: nowrap;
    overflow: hidden;
}

.bm-item-list a {
    color: #ffffff;
}

.bm-item-list a:hover {
    color: #ffffff;
}

.line-style {
    height: 8% !important;
}

/* GALLERY */

.gallery img {
    margin: 1.5em 0;
    max-width: 680px;
}

@media only screen and (max-width: 600px) {
    .gallery img {
        width: 100%;
        height: auto;
    }
}

.btn-to-top {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 22px;
}